.item{
display: flex;
max-width: 260px;
border: 2px solid black;
background-color: cornflowerblue;
justify-content: center;
align-items: center;
border-radius: 15px;
margin-bottom: 10px;
}

.friends{
display: block;
justify-content: center;
align-items: center;
margin: 20px auto 20px 100px;
}

.status{
text-align: center;
color: green;

}
.ofline {
    text-align: center;
    color: red;
}
.avatar{

}

.name{

}